@import "app.css";

.header {
    background-image: url("https://images.unsplash.com/photo-1491333078588-55b6733c7de6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    min-height: 900px;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
}

h1 {
    font-size: 5rem;
}

.list li {
    background-color: rgba(196, 159, 95, 0.74);
    padding: .5rem 1rem;
    border-radius: 5px;
    list-style-type: none;
    color: #000;
}
